{% extends 'base.html.twig' %}

{% block title %}Modify a Line {% endblock %}

{% block body %}
    <h1>Modify a production line</h1>

    {{ form_start(form) }}
        {% for field in form %}
            <div>
                {{ form_label(field) }}
                {{ form_widget(field) }}
            </div>
        {% endfor %}
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}